@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Fonts.ttf);
}

*{
    font-family: Inter;
}

html, body{
    margin: 0;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vh;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ed9eae;
    border-radius: 15px 0;


    .products-number span{
        display: flex;
        background-color: #c66376;
        width: 70vh;
        height: 30px;
        padding: 10px;
        margin: 20px;
        color: white;
        font-size: 20px;
        align-items: center;
    }

    
    span .apple{
        width: 10vh;
        margin-left: 23px;
        background-color: #9e354a;
    }
    span .orange{
        width: 12vh;
        background-color: #9e354a;
    }
    span.pineapple{
        width: 15vh;
        background-color: #9e354a;
    }
    span.pear{
        width: 8vh;
        background-color: #9e354a;
    }
    span.cherry{
        width: 10vh;
        background-color: #9e354a;
    }
}


