 @-webkit-keyframes slide-right {
     0% {
         -webkit-transform: translateX(-200px);
         transform: translateX(-200px);
         opacity: 0;
     }

     100% {
         -webkit-transform: translateX(100px);
         transform: translateX(100px);
         opacity: 1;
     }
 }

 @keyframes slide-right {
     0% {
         -webkit-transform: translateX(-200px);
         transform: translateX(-200px);
         opacity: 0;
     }

     100% {
         -webkit-transform: translateX(100px);
         transform: translateX(100px);
         opacity: 1;
     }
 }


 @-webkit-keyframes slide-left {
     0% {
         -webkit-transform: translateX(0);
         transform: translateX(0);
     }

     100% {
         -webkit-transform: translateX(-100px);
         transform: translateX(-100px);
     }
 }

 @keyframes slide-left {
     0% {
         -webkit-transform: translateX(0);
         transform: translateX(0);
     }

     100% {
         -webkit-transform: translateX(-100px);
         transform: translateX(-100px);
     }
 }


 /* ----------------------------------------------
 * Generated by Animista on 2024-4-23 10:10:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 /**
 * ----------------------------------------
 * animation slide-in-blurred-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-blurred-left {
     0% {
         -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
         transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
         -webkit-transform-origin: 100% 50%;
         transform-origin: 100% 50%;
         -webkit-filter: blur(40px);
         filter: blur(40px);
         opacity: 0;
     }

     100% {
         -webkit-transform: translateX(100px) scaleY(1) scaleX(1);
         transform: translateX(100px) scaleY(1) scaleX(1);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
         -webkit-filter: blur(0);
         filter: blur(0);
         opacity: 1;
     }
 }

 @keyframes slide-in-blurred-left {
     0% {
         -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
         transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
         -webkit-transform-origin: 100% 50%;
         transform-origin: 100% 50%;
         -webkit-filter: blur(40px);
         filter: blur(40px);
         opacity: 0;
     }

     100% {
         -webkit-transform: translateX(100px) scaleY(1) scaleX(1);
         transform: translateX(100px) translateY(50px) scaleY(1) scaleX(1);
         -webkit-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
         -webkit-filter: blur(0);
         filter: blur(0);
         opacity: 1;
     }
 }





 .slide-right {
     -webkit-animation: slide-right 1.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
     animation: slide-right 1.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
 }

 .slide-left {
     -webkit-animation: slide-left 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
     animation: slide-left 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
 }

 .slide-in-blurred-left {
     -webkit-animation: slide-in-blurred-left 1.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
     animation: slide-in-blurred-left 1.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
 }