@charset "UTF-8";
@font-face {
  font-family: 'Product Sans Bold Italic';
  src: url(../assets/fonts/ProductSansBoldItalic.ttf);
}

@font-face {
  font-family: 'Product Sans Bold';
  src: url(../assets/fonts/ProductSansBold.ttf);
}

@font-face {
  font-family: 'Product Sans Italic';
  src: url(../assets/fonts/ProductSansItalic.ttf);
}

@font-face {
  font-family: 'Product Sans';
  src: url(../assets/fonts/ProductSansRegular.ttf);
}

.navbar {
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}

.navbar .nav-logo {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 15%;
}

.navbar .nav-logo a svg {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.navbar .nav-main {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.navbar .nav-main .nav-items {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: column;
}

.navbar .nav-main .nav-items .nav-item {
  position: relative;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  height: 100%;
}

.navbar .nav-main .nav-items .nav-item a {
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  color: black;
  text-decoration: none;
  font-family: 'Product Sans';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.navbar .nav-main .nav-items .nav-item:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 0;
  /* Начальная ширина подчеркивания */
  height: 3px;
  background-color: #0CA579;
  transition: width 0.3s ease;
}

.navbar .nav-main .nav-items .nav-item:hover a {
  color: #0CA579;
}

.navbar .nav-main .nav-items .nav-item:hover::after {
  width: 100%;
}

.navbar .nav-auth {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media screen and (max-width: 1024px) {
  .nav-item {
    display: none;
  }
  .nav-items.active .nav-item {
    display: flex;
  }
}
