@import "global-style";

.navbar {
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 100%;
    height: 75px;
    @include flex(space-between, flex-start);
    .nav-logo {
        position: relative;
        display: inline-block;
        height: 100%;
        width: 15%;

        a {
            svg {
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }


    }
    
    .nav-main {
        height: 100%;
        width: 70%;
        @include flex(flex-start, center);

        .nav-items {
            height: 100%;
            width: 100%;
            @include flex(space-evenly, center);
            @include reset-list();
            flex-direction: column;

            .nav-item {
                position: relative;
                transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
                height: 100%;

                a {
                    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
                    padding-left: 10px;
                    padding-right: 10px;
                    height: 100%;
                    color: black;
                    text-decoration: none;
                    font-family: 'Product Sans';
                    @include flex(center, center)
                }

                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 10px;
                    width: 0;
                    /* Начальная ширина подчеркивания */
                    height: 3px;
                    background-color: $logo-dark-green;
                    transition: width 0.3s ease;
                }

                &:hover {
                    a {
                        color: $logo-dark-green;
                    }
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }
    }


    .nav-auth {
        width: 30%;
        @include flex(flex-end, center);
    }
}

@media screen and (max-width:1024px) {
    .nav-item{
        display: none;
    }
    .nav-items.active{
        .nav-item{
            display: flex;
        }
    }
}