@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Fonts.ttf);
}
html,body{
    margin: 0;
    background-color: rgb(224, 224, 224)
}

*{
    transition: 0.5s;
    font-family: Inter;
}
h1{
    display: flex;
    justify-content: center;
}



